/* frontend/components/MenuItem.css */
.menu-item {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 15px;
  }
  
  .menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .menu-item-img {
    width: 100%;
    border-radius: 10px;
    height: 150px;
    object-fit: cover;
  }
  
  .menu-item h3 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
  }
  
  .menu-item p {
    font-size: 18px;
    color: #ff6347;  /* Tomato color */
    margin: 10px 0;
  }
  
  .btn-add-to-cart {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .btn-add-to-cart:hover {
    background-color: #e53e32;
  }
  